/* Color Palette */
:root {
  --amethyst: #8E79B7;
  --african-violet: #9C89C0;
  --magnolia: #F8EDFB;
  --cool-gray: #A0A0B1;
  --african-violet-2: #927FBA;
  --wisteria: #AA98CA;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--magnolia);
}

.App {
  text-align: center;
}

.calendar-container {
  background-color: var(--magnolia);
  border-radius: 20px;
  padding: 30px;
  width: 400px;
  margin: 50px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.calendar-title {
  color: var(--african-violet);
  margin-bottom: 20px;
}

.calendar-box {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.react-calendar {
  border: none;
  width: 100%;
}

.react-calendar__tile {
  background-color: var(--magnolia);
  color: var(--cool-gray);
  border-radius: 10px;
}

.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus {
  background-color: var(--african-violet);
  color: white;
}

.react-calendar__tile--active {
  background-color: var(--african-violet-2);
  color: white;
}

.react-calendar__navigation button {
  color: var(--african-violet-2);
}

.react-calendar__navigation button:enabled:hover {
  background-color: var(--wisteria);
  color: white;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--african-violet-2);
}

.react-calendar__tile--now {
  background-color: var(--african-violet); 
  color: black; 
}



button {
  margin-top: 20px;
  background-color: var(--african-violet);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: var(--african-violet-2);
}

.calendar-btn {
  margin-top: 20px;
  background-color: var(--african-violet);
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.calendar-btn:hover {
  background-color: var(--african-violet-2);
}


.login-btn {
  background-color: var(--african-violet);
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.login-btn:hover {
  background-color: var(--african-violet-2);
}

.logs-container {
  margin-top: 20px;
  text-align: left;
}

.log-card {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.log-card p {
  margin: 5px 0;
}

.logs-container h2 {
  color: var(--african-violet);
  margin-bottom: 20px;
}

.login-container, .signup-container {
  background-color: var(--magnolia);
  border-radius: 20px;
  padding: 30px;
  width: 350px;
  margin: 50px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.login-box, .signup-box {
  background-color: var(--magnolia);
}
.logo {
  width: 100px;
  margin: 20px auto;
  display: block;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}
.password-wrapper {
  display: flex; /* Make the wrapper a flex container */
  align-items: center; /* Align items vertically center */
  position: relative;
}
.password-wrapper input.form-control {
  flex: 1; /* Allow the input to grow and take available space */
  padding-right: 40px; /* Make space for the icon inside the input */
}
.form-control {
  width: 100%;
  padding-right: 40px; /* Ensure space for the icon */
  padding: 10px;
  border: 1px solid var(--cool-gray);
  border-radius: 8px;
  background-color: white;
  font-size: 16px;
}

.form-control:focus {
  outline: none;
  border-color: var(--african-violet-2);
}

.password-toggle-icon {
  margin-left: -35px; /* Move the icon to the left inside the input */
  cursor: pointer;
  font-size: 1.2em;
  color: #333;
}
.remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
}

.remember-me input {
  margin: 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.footer-links a {
  color: var(--african-violet-2);
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
